<footer>
	<p>&copy; 2018 Hakan Alpay</p>
	<nav>
		<a href="https://github.com/kimeiga" target="_blank">GitHub</a>
		<a href="https://twitter.com/theHakanAlpay" target="_blank">Twitter</a>
		<a href="https://youtube.com/ShinyYellowSquare" target="_blank">YouTube</a>
		<a href="mailto:kimeiga@outlook.com" target="_blank">Email</a>
		<a href="https://linkedin.com/in/hakanalpay" target="_blank">LinkedIn</a>
	</nav>
	<p>kimeiga.github.io / kimei.ga</p>
	<a href="https://kimeiga.weebly.com/" target="_blank">My Old Website</a>
</footer>