/*font imports*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&subset=latin-ext');
// @import url('https://rsms.me/inter/inter-ui.css');

/*universal variables*/

$yellow: #F1C33A;
$cyan:   #00E0D5;
$black:  #1B1B1B;	
$white:  #f3f3f3;

$font-title: 'Playfair Display', serif;
$font-body:  'Muli', sans-serif;

$spacing-1:        .5em;
$spacing-2:        $spacing-1 * 2;
$spacing-3:        $spacing-2 + $spacing-1;
$spacing-4:        $spacing-3 + $spacing-1;
$spacing-5:        $spacing-4 + $spacing-1;
$spacing-6:        $spacing-5 + $spacing-2;
$spacing-7:        $spacing-6 + $spacing-2;

/*necessary css styles*/

* {
    box-sizing: border-box;
}

/*Universal font styles*/

body {
	margin: 0;

	font-family: $font-body;
  line-height: 1.45;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-title;
	font-weight: 700;
}

/*Type Scale font styles for desktop*/

@media only screen and (min-width: 600px) {

	html {font-size: 1.125em;}
	
	p {margin-bottom: 1.3em;}

	h1, h2, h3, h4 {
		margin: 1.414em 0 0.3em;
		line-height: 1.2;
	}

	h1 {
		margin-top: 0;
		font-size: 3.998em;
	}

	h2 {font-size: 2.827em;}

	h3 {font-size: 1.999em;}

	h4 {font-size: 1.414em;}

	small {font-size: 0.707em;}
	
}

/*less font size contrast for mobile*/
@media only screen and (max-width: 700px) {
	html {font-size: 1em;}

	p {margin-bottom: 1.3em;}

	h1, h2, h3, h4 {
		margin: 1.414em 0 0.3em;
		line-height: 1.2;
	}

	h1 {
		margin-top: 0;
		font-size: 3.157em;
	}

	h2 {font-size: 2.369em;}

	h3 {font-size: 1.777em;}

	h4 {font-size: 1.333em;}

	small {font-size: 0.75em;}
}


/*SPLIT IMAGE LANDING*/

.split-image {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	
	height: 100vh;
}

.split-image-text {
	background-color: $yellow;
	
	padding: 20vh 3vw;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	form {
		display:grid;
		grid-template-areas: "name email"
												 "message message"
												 "submit submit";
		grid-template-rows: 1fr 5fr 1fr;
		height: 20em;
		font-family: $font-body;
	}

	form > * {
		border: none;
		padding: $spacing-1;
	}

	form > #name {
		grid-area: name;
	}

	form > #email {
		grid-area: email;
	}

	form > #message {
		grid-area: message;
		background-color: #000;
		color: white;
		resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	}

	form > input[type=submit] {
		background-color: $cyan;
		grid-area: submit;
		cursor: pointer;
	}

	form > input[type=submit]:hover {
		background-color: lighten($cyan, 20);
	}

}

.split-image-image {	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*kimeiga logo nav*/

.open-nav {
	position: fixed;
	top: 3vh;
	left: 3vw;
	
	font-weight: 600;
	font-size: 1.414em;
	font-family: $font-title;
	
	/*Make button like link*/
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	
	display: flex;
	align-items: center;
}

.open-nav .kimeiga-logo {
	height: 1.414em;
	margin-right: 10px;
}

.open-nav-button {
	position: fixed;
	bottom: 3vw;
  left: 3vw;
  
  cursor: pointer;
	
	display: flex;
  align-items: center;
  
  border: 15px solid $white;
  border-radius: 50%;
  background-color: $white !important;

  z-index: 9;
}

.open-nav-button img {
  height: 2.5em;
}

@media all and (max-width: 600px) {
	.open-nav-button img {
    height: 2em;
  }
}




.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
	
	font-family: $font-title
}


/*row navigation for portrait*/
@media all and (max-width: 600px) {
	.overlay {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: 1fr;
		width: 100%;
    text-align: center;
	}
}

/*column navigation for landscape*/
@media not all and (max-width: 600px) {
	.overlay {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		width: 100%;
    text-align: center;
		
		justify-items: stretch;
	}
}



.nav-item-1, .nav-item-2, .nav-item-3, .nav-item-4, .nav-item-5 {
	padding: 8px;
	text-decoration: none;
	color: #818181;
	display: block;
	
	display: flex;
	align-items:  center;
	justify-content: center;
}

/*colors of the navigation stripes*/

.nav-item-1, .nav-item-5 {
	background: $black;
}

.nav-item-2, .nav-item-4 {
	background: $yellow;
}

.nav-item-3 {
	background: $cyan;
}

.overlay a, .overlay a:visited {
	text-decoration: none;
	color: #818181;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
	text-decoration: line-through;
	font-weight: 700;
}

.overlay .closebtn {
  position: absolute;
	top: 3vh;
	width: 20vw;
	
	/*Make button like link*/
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	
	color: white;
	font-family: $font-title;
	font-size: 2em;
}


.fullscreen-text {
	display: flex;
	flex-direction: column;
  justify-content: center;
  
  text-align: center;

  height: 100vh;
  background-color: $yellow;
  padding: $spacing-6;
}

.btn {
/*   display: inline-block; */
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0.3em;
  // color: rgba(223,190,106,0.7);
  color: white;
  border-radius: 0;
  padding: $spacing-3 $spacing-7 $spacing-3;
  transition: all 0.3s ease-out;
  // background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(0, 224, 213, 1), rgba(0, 224, 213, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: $spacing-2;
  // border: none;
  // border: 1px solid rgba(223,190,106,0.3);
  border: 1px solid white;

  &:hover, &:focus, &:active {
    color: #fff;
    // border: 1px solid rgba(223,190,106,0);
    border: 1px solid rgba(255,255,255,0);
    background-position: 99% 50%;
  }
}