<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include nav.html %}
	
	<section class="split-image">
		
		<img class="split-image-image" src="/images/hakan-hero.jpg">
		<div class="split-image-text">
				<h2>Want to work with me?</h2>
				<p>Or share intel? Or just chat :) ?</p>

				<form action="https://formspree.io/kimeiga@outlook.com" method="POST">
					<input type="text" name="name" id="name" placeholder="Name">
					<input type="email" name="_replyto" id="email" placeholder="Email">
					<textarea id="message" name="message" placeholder="Your beautiful prose"></textarea>
					<input type="submit" value="Send to Hakan">
					<input type="hidden" name="_next" value="{{ "/thanks" | relative_url }}" />
          <input type="hidden" name="_subject" value="New response in portfolio site!" />
				</form>
				
		</div>
	</section>
	
	
</body>

</html>
