<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<button class="open-nav" onclick="openNav()">
		<img src="{{ "images/kimeiga-logo.svg" | relative_url }}" alt="Kimeiga Logo" class="kimeiga-logo" />
		<span>KIMEIGA</span>
	</button>
	
	<nav id="myNav" class="overlay">
		<button tabindex="0"  class="closebtn" onclick="closeNav()">&times;</button>
		<div class="nav-item-1"><a href="/">HOME</a></div>
		<div class="nav-item-2"><a href="https://kimeiga.github.io/blog" target="_blank">BLOG</a></div>
		<div class="nav-item-3"><a href="/projects">PROJECTS</a></div>
		<div class="nav-item-4"><a href="/resume">RÉSUMÉ</a></div>
		<div class="nav-item-5"><a href="/contact">CONTACT</a></div>
	</nav>
	
	<section class="split-image">
		
		<img class="split-image-image" src="/images/hakan-hero.jpg">
		<div class="split-image-text">
				<h2>Want to work with me?</h2>
				<p>Or share intel? Or just chat :) ?</p>

				<form action="/action_page.php">
					<input type="text" id="fname" name="firstname" placeholder="First Name">
					<input type="text" id="lname" name="lastname" placeholder="Surname">
					<textarea id="message" name="message" placeholder="Your beautiful prose"></textarea>
					<input type="submit" value="Send to Hakan">
				</form>
				
		</div>
	</section>
	
	<script>
		function openNav() {
			document.getElementById("myNav").style.height = "100%";
		}

		function closeNav() {
			document.getElementById("myNav").style.height = "0%";
		}
	</script>
	
	
</body>

</html>
