{% include head.html %}

<body>

  <header class="header-home">

    {% include nav.html %}

    <div class="hero-text">
      <h1><i>Hakan Kimeiga Alpay</i></h1>
      <p style="font-size: 110%;">Hiya! I’m a game, graphic, and web developer! I'm studying computer science at UCLA.</p>
    </div>

  </header>

  <main>
    <article>

      {{ content }}

      <h2>Projects</h2>
      <p>Here is a sampling of the work I do!</p>
      <div class="project-grid">
        <a href="#" class="bahunya">
          <div>
            <h3>Bahunya</h3>
            <p>10KB classless CSS framework</p>
          </div>
        </a>
        <a href="#" class="supersope">
          <div>
            <h3>süperşöpe</h3>
            <p>Stylish Preact music player</p>
          </div>
        </a>
        <a href="#" class="life-of-kimeiga">
          <div>
            <h3>Life of Kimeiga</h3>
            <p>My blog as a Progressive Web Application</p>
          </div>
        </a>
        <a href="#" class="roomie-matcher">
          <div>
            <h3>Roomie Matcher</h3>
            <p>A tool for UCLA students to find compatible roommates!</p>
          </div>
        </a>
      </div>

      <!-- <a href="/projects" class="center-button">More Projects</a> -->
      <a href="/projects" >View more projects!</a>

      <h2>Blog</h2>
      <p>I write my blog posts on my separate blog site: <a href="/blog">Life of Kimeiga</a>. Here are some of the best!</p>
      <h3><a href="https://kimeiga.github.io/blog/2018/09/15/bahunya/">I created a 10KB classless CSS framework</a></h3>
      <p>2018-09-15</p>
      <hr>
      <h3><a href="https://kimeiga.github.io/blog/2018/09/11/broken-mechanics/">Broken Mechanics in the Game of Life</a></h3>
      <p>2018-09-11</p>
      <hr>
      <h3><a href="https://kimeiga.github.io/blog/2018/09/03/perfectionism/">Rapid-Prototyping and Perfectionism</a></h3>
      <p>2018-09-03</p>
      <h2>Contact</h2>

      <h3>Would you like to work with me?</h3>
      <p>Or just chat about things? I will try to get back to you promptly!</p>

      <form class="contact-form" action="https://formspree.io/kimeiga@outlook.com" method="POST">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="email" name="_replyto" id="email" placeholder="Email">
        <textarea id="message" name="message" placeholder="Your beautiful prose"></textarea>
        <input type="submit" id="submit" value="Send to Hakan">

        <input type="hidden" name="_next" value="{{ "/thanks" | relative_url }}" />
        <input type="hidden" name="_subject" value="New response in portfolio site!" />
      </form>

      <h2>About Me</h2>

      <h3>I started programming games in early high school</h3>

      <p>I remember when my brother came back from Japan to visit and gave me his copy of Unity 3.x: Game Development Essentials. I barely knew what a computer was.</p>
      <p>But I really liked video games, and I loved to idea of making them. So I finished my studying early that night, and started the tutorial in the book. It was really thorough and within the week I had finished my first first person adventure game written in C#! Excited, I had my parents sat down and play it (no small feat).</p>
      <p>Ever since then, I've been programming games, websites, applications, languages, etc. I also love videography, sketching, and trying my best on the ukulele. Life has treated me well, and I've been lucky enough to get good grades while also having fun making cool things!</p>
      <p>I hope to continue that into the future; let's see where this goes.</p>

    </article>


  </main>

  {% include footer.html %}
</body>

</html>