{% include head.html %}

<body>

  <header>

    {% include nav.html %}

    <div class="hero-text">
      <h1><i>Hakan Kimeiga Alpay</i></h1>
      <h4>Hiya! I’m a game, graphic, and web developer and a Computer Science major at UCLA.</h4>
    </div>

  </header>

  <main>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    <p>&copy; 2018 Hakan Alpay</p>
    <nav>
      <a href="https://github.com/kimeiga">Github</a>
      <a href="https://twitter.com/theHakanAlpay">Twitter</a>
      <a href="https://youtube.com/ShinyYellowSquare">YouTube</a>
      <a href="mailto:kimeiga@outlook.com">Email</a>
      <a href="https://linkedin.com/in/hakanalpay">LinkedIn</a>
    </nav>
  </footer>
</body>

</html>