<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<header class="header-projects">

		{% include nav.html %}

		<div class="hero-text">
			<h1><i>Projects</i></h1>
		</div>

	</header>

	<main>
		<article>

      <!-- <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            
          </li>
        {% endfor %}
      </ul> -->

			<p>Here are some of my most recent projects! More to come as I develop more creations and write copy about old ones!</p>
      <div class="project-grid">
        <a href="/2018/09/19/bahunya/" class="bahunya">
          <div> 
            <h3>Bahunya</h3>
            <p>10KB classless CSS framework</p>
          </div>
        </a>
        <a href="/2018/09/20/supersope/" class="supersope">
          <div>
            <h3>süperşöpe</h3>
            <p>Stylish Preact music player</p>
          </div>
        </a>
        <a href="/2018/09/20/life-of-kimeiga/" class="life-of-kimeiga">
          <div>
            <h3>Life of Kimeiga</h3>
            <p>My blog as a Progressive Web Application</p>
          </div>
        </a>
        <a href="/2018/09/19/roomie-matcher/" class="roomie-matcher">
          <div>
            <h3>Roomie Matcher</h3>
            <p>A tool for UCLA students to find compatible roommates!</p>
          </div>
        </a>
      </div>
		</article>
	</main>

	{% include footer.html %}

</body>

</html>